body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("ABSTRACT_WALLPAPER_Mesa_de_trabajo_1.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;  
}


h1 {
    text-align: center;
    color: #e7e0e0;
    margin-bottom: 20px;
}

.game-list {
    max-width: 800px;
    margin: auto;
    padding: 0;
}

.game-list li {
    list-style: decimal;
    margin: 30px 0;
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 20px;
    align-items: center;
}

.game-list img {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    object-fit: cover;
    border: 2px solid #ddd;
}

.game-list h2 {
    margin: 0;
    font-size: 18px;
    color: #222;
}

.game-list p {
    font-size: 14px;
    color: #555;
}
